* {
    margin: 0;
    padding: 0;
    }

body {
    font-family: roboto, sans-serif;
    
    }

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
}

.top_page {
        display: flex;
        flex-direction: column; 
        height: 100%;
        background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.container_navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px 20px 35px;
}

.automation {
    display: flex;
    flex-direction: column;
}

.mainTitle {
    height: 76px;
    left: 15px;
    top: 92px;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding: 0px 16px;
}

.button_top {
    background: #5A98D0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 15px;
    text-decoration: none;
    padding: 10px 25px;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    align-self: center;
    margin: 32px 0px 41px;
}

.text_automation {
    height: 96px;
    left: 15px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    padding: 12px 16px;
}

.title_offers {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin: 48px 17px 32px;
}

.container_offers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4.title_ad {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    text-align: initial;
    font-weight: 400;
    padding: 50px 30px 12px;
}

p.text_ad {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1F3F68;
    opacity: 0.6;
    text-align: initial;
    padding: 0px 30px 20px;
}

.firstAd {
    width: 359px;
    height: 480px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.img_first-ad {
    align-self: center;
    padding-top: 43px;
}

.secondAd {
    width: 359px;
    height: 480px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;   
    margin-bottom: 32px;
}

.img_scd-ad {
    align-self: center;
    padding-top: 38px;
}

.thirdAd {
    width: 359px;
    height: 480px;
    background: #FFFFFF;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.img_third-ad {
    align-self: center;
    padding-top: 43px;
}

.ad_link {
    position: relative;
    line-height: 27px;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5A98D0;
    text-decoration: none;
    padding-left: 32px;
}

.ad_link::after {
    content: url(img/arrow_ad.svg);
    position: absolute;
    padding: 4px 23px;
}

.title_projects {
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    margin: 64px 0px 32px;
}

.text_projects {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #222222;
    margin-bottom: 82px;
}

.project_img {
    width: 100%;
}

.smrt-home {
    font-size: 16px;
    line-height: 19px;
    text-align: right;
    color: #FFFFFF;
    left: 170px;
    top: 2395px;
    position: absolute;
    font-weight: 400;
}

.project_parent {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.project_item_margin {
    margin-bottom: 16px;
}

.sparklite-app {
    position: absolute;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    left: 20px;
    top: 2585px;   
}

.car-app {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    left: 20px;
    top: 2870px;
    position: absolute;
}

.footer {
    background-color: #316099; 
    color: #FFFFFF;
    margin-top: 5px;
    position: relative;
}

.top_footer {
   
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
}

.title_hire {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 18px 40px;
}

.textFooter {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    opacity: 0.6;
    padding-top: 32px;
}

.button_footer {
    align-self: center;
    margin: 40px 0px;
}

.btn_footer {
    text-decoration: none;
    padding: 10px 25px;
    color: #FFFFFF;
    background: #5A98D0;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
}

.container_info {
    display: flex;
    flex-direction: column;
    padding: 64px 0px;
    color: #FFFFFF;
}

.address {
    
    position: relative;
    padding: 0px 0px 17px 53px;
}

.tel {
    padding-bottom: 17px;
}

.mail {
    padding-bottom: 17px;
}

.address::before {
    content: "1. ";
    word-spacing: 19px;
    font-weight: 500;
    position: absolute;
    left: 0px;
    padding-left: 16px;
}

.tel::before {
    content: "2. ";
    word-spacing: 19px;
    font-weight: 500;
    padding-left: 16px;
}

.mail::before {
    content: "3. ";
    word-spacing: 19px;
    font-weight: 500;
    padding-left: 16px;
}

.legalRights {
    color: #ffffff;
    padding: 0px 0px 32px;
    opacity: 0.4;
    text-align: center;
}

hr {
    border: 1px solid #FFFFFF;
    opacity: 0.4;
}

.contactBanner {
    background-image: url(img/Mask-Group.png);
    margin-bottom: 50px;
}

.title_contactBanner {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    padding-top: 40px;
}

.img_contact {
    padding-bottom: 24px;
}

.text_contactBanner {
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    padding: 32px 5px;
}

.contactInfo, .container_form {
    padding-left: 40px;
    width: 300px;
    padding-left: 40px;
    width: 300px;
    display: flex;
    flex-direction: column;
}

.adress, .phone_number, .online_service{
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.6;
}

.adress {
    padding-bottom: 32px;
}

.number_1 {
    padding-bottom: 16px;
}

.number_1::before {
    content: url(img/ic_phone_24px.png);
    position: relative;
    top: 7px;
    margin-right: 19px;
}

.number_2 {
    margin-bottom: 32px;
}

.number_2::before {
    content: url(img/ic_phone_24px.png);
    position: relative;
    top: 7px;
    margin-right: 19px;
}

.site_contact::before {
    content: url(img/ic_language_24px.png);
    position: relative;
    top: 7px;
    margin-right: 19px;
}

.mail_contact::before {
    content: url(img/ic_email_24px.png);
    position: relative;
    top: 7px;
    margin-right: 19px;
}
.online_service {
    opacity: initial;
    letter-spacing: 0.05em;
}
.container_form {
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    height: 514px;
    margin: 32px 0px;
}

.title_form {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    padding: 36px 0px 31px;
    color: #1F3F68;
}

form {
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.8;
}

input.form {
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 5px 50px;
    margin-bottom: 21px;
}

textarea.form {
    opacity: 0.4;
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 10px 28px;
    
}

.buttonSubmit {
    background: #5A98D0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    padding: 10px 106px;
    color: #ffff;
    border: hidden;
    margin: 18px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.container_contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_adress, .title_phone, .title_online-service {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1F3F68;
    padding-bottom: 24px;
    width: 300px;
}

@media (min-width: 768px) and (max-width: 1023px) {

    .automation {
            background-image: url(img/top_img.png);
            background-position: bottom right;
            background-repeat: no-repeat;
            background-size: 20em;
            margin-right: 30px;
            padding-bottom: 30px;
            margin-bottom: 80px;
        }

        .container_navbar {
            padding: 55px 32px 0px;
        }

        .mainTitle {
            height: 148px;
            font-size: 64px;
            line-height: 74px;
            text-align: left;
            padding: 120px 32px 0px;
            width: 70%;
        }

        .text_automation {
            height: 82px;
            line-height: 26px;
            text-align: left;
            padding: 32px 32px 0px;
            width: 55%;
        }

        .button_top {
            padding: 15px 50px;
            align-self: flex-start;
            margin: 72px 32px 41px;
            font-size: 16px;
        }

        .title_offers {
            font-size: 36px;
            line-height: 46px;
            margin: 64px 32px;
            height: 90px;
            letter-spacing: 00.05em;
        }

        .title_projects {
            font-size: 36px;
            line-height: 46px;
            margin: 127px 32px 32px;
            letter-spacing: 0.05em;
        }

        .text_projects {
            font-size: 16px;
            line-height: 26px;
            margin: 0px 124px 64px;
            height: 78px;
            width: 70%;
        }

        .smrt-home {
            font-weight: 400;
            font-size: 32px;
            line-height: 46px;
            text-align: right;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            position: absolute;
            left: 285px;
            top: 2915px;
        }

        .sparklite-app {
            font-size: 28px;
            line-height: 46px;
            color: #FFFFFF;
            left: 22px;
            top: 3217px;
            letter-spacing: 0.05em;
        }

        .car-app {
            font-size: 28px;
            line-height: 46px;
            color: #FFFFFF;
            left: 427px;
            top: 3217px;
        }

        .project_parent {
            display: flex;
            flex-direction: row;
            margin-top: 30px;
        }

        .project_item_margin {
            margin-right: 32px;
        }

        .footer {
            margin-top: 40px;
        }

        .top_footer {
            display: flex;
            flex-direction: row;
        }

        .hire {
            width: 60%;
        }

        .title_hire {
            font-size: 36px;
            line-height: 46px;
            text-align: left;
            padding: 47px 0px 0px 124px;
        }

        .textFooter {
            text-align: left;
            padding: 32px 0px 64px 124px;
        }

        .button_footer {
            align-self: center;
            margin: 40px 51px;
        }

        .container_info {
            padding: 64px 124px 0px;
        }

        .address {
            padding: 0px 0px 25px 63px;
        }

        .address::before {
            content: "A. ";
            padding-left: 0px;
        }

        .tel {
            padding-bottom: 25px;
        }

        .tel::before {
            content: "T. ";
            word-spacing: 46px;
            padding-left: 0px;
        }

        .mail::before {
            content: "E. ";
            word-spacing: 47px;
            padding-left: 0px;
        }

        .legalRights {
            text-align: left;
            padding: 64px 125px;
        }

        .container_navbar {
            padding: 18px 32px 20px;
        }

        .text_contactBanner {
            padding: 32px 190px;
        }
    }
    @media (min-width: 1024px) and (max-width: 2560px ) {

        .container {
                max-width: 1140px;
                margin: 0 auto;
        
        }

        .container_contact-page {
            max-width: 940px;
            margin: 0 auto;
        }
        
        h3 {
            font-size: 36px;
        
        }
        
        h4 {
            font-size: 20px;
            line-height: 30px;
        }
        
        p {
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
        }
        
        .top_page {
            display: flex;
            flex-direction: column; 
            height: 100%;
            background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
        }
        
        .container_navbar {
            display: flex;
            justify-content: space-between;
            padding: 42px 0px 0px;
        }
        
        .automation {
            display: flex;
            flex-direction: column;
            background-image: url(img/top_img.png);
            background-position: right;
            background-repeat: no-repeat;
            flex-grow: 1;
            height: 100%;   
        }
        
        .mainTitle {
            width: 50%;
            height: 148px;
            font-weight: 300;
            font-size: 64px;
            line-height: 74px;
            color: #1F3F68;
            letter-spacing: 0.04em;
            padding: 115px 0px 0px;
            text-align: left;
        }
        
        .text_automation {
            width: 40%;
            padding: 32px 0px 71px;
            opacity: 0.6;
            text-align: left;
        }
        
        .button_top {
            background: #5A98D0;
            box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
            border-radius: 10px;
            text-decoration: none;
            padding: 15px 50px;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            align-self: flex-start;
            margin: 0px 0px 190px;
        }
        
        .title_offers {
            font-weight: 300;
            font-size: 36px;
            line-height: 46px;
            letter-spacing: 0.05em;
            margin: 64px 0px;
            text-align: center;
        }
        
        .title_ad {
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            font-weight: 400;
            padding: 50px 32px 0px;
        }
        
        .text_ad {
            padding: 15px 32px 28px;
            opacity: 0.6;
        
        }
        
        .ad_link {
            position: relative;
            line-height: 27px;
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #5A98D0;
            text-decoration: none;
            padding-left: 32px;
        }
        
        .ad_link::after {
            content: url(img/arrow_ad.svg);
            position: absolute;
            padding: 4px 23px;
        }
        
        .container_offers {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            color: #1F3F68;
            box-sizing: border-box;
        }
        
        .firstAd {
            width: 359px;
            height: 480px;
            background: #FFFFFF;
            box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }
        
        .img_first-ad {
            align-self: center;
            padding-top: 43px;
        }
        
        .secondAd {
            width: 359px;
            height: 480px;
            background: #FFFFFF;
            box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
            display: flex;
            flex-direction: column;   
        }
        
        .img_scd-ad {
            align-self: center;
            padding-top: 38px;
        }
        
        .thirdAd {
            width: 359px;
            height: 480px;
            background: #FFFFFF;
            box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            margin-bottom: 32px;
        }
        
        .img_third-ad {
            align-self: center;
            padding-top: 43px;
        }
        
        .finishProj {
            text-align: center;
        }
        
        .intro_projects {
            margin: 0 auto;
        }
        
        .title_projects {
            padding: 64px 0px 32px;
            font-size: 36px;
            line-height: 46px;
            letter-spacing: 0.05em;
            margin: 0;
        }
        
        .text_projects {
            width: 46em;
            margin-bottom: 64px;
            padding-left: 190px;
        }
        
        .project_img {
            width: 100%;
        }
        
        .smrt-home {
            font-size: 32px;
            line-height: 46px;
            text-align: right;
            letter-spacing: 0.05em;
            position: absolute;
            top: 64px;
            right: 64px;
            color: #FFFFFF;
            
        }
        
        .sparklite-app {
            font-size: 28px;
            line-height: 46px;
            letter-spacing: 0.05em;
            position: absolute;
            top: 32px;
            left: 32px;
            color: #FFFFFF;
        }
        
        .car-app {
            font-size: 28px;
            line-height: 46px;
            letter-spacing: 0.05em;
            position: absolute;
            top: 32px;
            left: 32px;
            color: #FFFFFF;
        }
        
        .project_item {
            position: relative;
            flex-grow: 1;
        }
        
        .project_parent {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 32px;
            
        }
        
        .project_item_margin {
            margin: 0px 32px 0px 0px;
        }
        
        .footer {
            background-color: #316099; 
            color: #FFFFFF;
            margin-top: 112px;
            position: relative;
        }
        .top_footer {
        
            display: flex;
            flex-direction: column;
            text-align: left;
            color: #FFFFFF;
            position: relative;
        }
        
        .title_hire { 
            margin-top: 91px;
            font-size: 36px;
            line-height: 46px;
            font-weight: 400;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            text-align: left;
            padding: 0;
        }
        
        .textFooter {
            margin: 32px 0px 96px;
            opacity: 0.6; 
            color:  #ffffff;
            text-align: left;
            width: 31.2em;
            padding: 0;
        }
        
        .button_footer {
            position: absolute;
            top: 165px;
            right: 0px;
        }
        
        .btn_footer {
            text-decoration: none;
            padding: 15px 80px;
            color: #FFFFFF;
            background: #5A98D0;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.04em;
        }
        
        .address {
            
            position: relative;
            padding-left: 38px;
        }

        .address::before {
            content: "A. ";
            word-spacing: 19px;
            font-weight: 500;
            position: absolute;
            left: 0px;
            padding: 0;
        }
        
        .tel::before {
            content: "T. ";
            word-spacing: 19px;
            font-weight: 500;
        }
        
        .mail::before {
            content: "E. ";
            word-spacing: 19px;
            font-weight: 500;
        }
        
        .legalRights {
            color: #ffffff;
            padding: 0px 0px 50px;
            opacity: 0.4;
            text-align: left;
        }
        
        .container_info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 64px 0px;
            color: #FFFFFF;
        }
        
        hr {
            border: 1px solid #FFFFFF;
            opacity: 0.4;
        }

        .contactBanner {
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-direction: column;
        }

        .text_contactBanner {
            max-width: 640px;
            align-self: center;
        }

        .container_contact {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .top_contact {
            align-self: flex-start;
            margin-top: 120px;
        }

        .container_form {
            background: #FFFFFF;
            box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
            height: 720px;
            width: 435px;
            padding: 0px 56px;
        }

        .title_form {
            font-weight: 500;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: 0.04em;
            padding: 56px 0px 48px;
            color: #1F3F68;
        }

        form {
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0.04em;
            color: #1F3F68;
            opacity: 0.8;
            width: 428px;
            height: 144px;
        }

        input.form {
            font-weight: 300;
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0.04em;
            color: #1F3F68;
            opacity: 0.4;
            border: 1px solid #356EAD;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 5px 50px;
            margin-bottom: 21px;
        }

        input {
            width: 428px;
            height: 55px;
        }

        textarea.form {
            opacity: 0.4;
            border: 1px solid #356EAD;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 10px 28px;
        }

        textarea {
            width: 428px;
            height: 144px;
        }

        .buttonSubmit {
            background: #5A98D0;
            box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
            border-radius: 10px;
            padding: 10px 106px;
            color: #ffff;
            border: hidden;
            margin: 50px 0px;
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            width: 428px;
            height: 72px;
        }

        .container_map {
            margin-top: 96px;
        }
}